{% block password_form %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title text-center">Changer le Mot de Passe</h1>
                </div>
                <div class="card-body">
                    {{ form_start(passwordForm) }}
                        {{ form_widget(passwordForm) }}
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary">Changer le mot de passe</button>
                        </div>
                    {{ form_end(passwordForm) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
