{% extends 'base.html.twig' %}

{% block title %}Se connecter !{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card p-4 shadow" style="max-width: 400px; width: 100%;">
        <div class="card-body">
            <h2 class="card-title text-primary">Connexion</h2>
            <p class="text-secondary">Saisir vos informations.</p>
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Saisir votre email" autocomplete="email" required autofocus>
                </div>

                <div class="form-group">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="************" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-primary btn-block mb-3" type="submit">Se connecter</button>

                <a href="{{ path('app_create_user') }}" class="text-primary">Créer un compte</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
