{% extends 'base.html.twig' %}

{% block title %}Paiement réussi{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Paiement réussi</div>

                    <div class="card-body">
                        <h1>Merci pour votre commande !</h1>
                        <p>Nous vous remercions pour votre achat.</p>
                        <p>Si vous avez des questions, n'hésitez pas à nous contacter par email à <a href="mailto:event@example.com">event@example.com</a>.</p>

                        <div class="text-center mt-4">
                            <a href="{{ path('app_index') }}" class="btn btn-primary">Retour à l'accueil</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
