{% block body %}
    <div class="container">
        <h4 class="mb-4">Filtres</h4>
        <form method="get" action="{{ path('app_event_filter') }}" class="mb-4">
            <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" id="name" name="name" class="form-control" minlength="3" placeholder="Saisir 3 caractères minimum">
            </div>
            <div class="form-group">
                <label for="date_start">Date de début</label>
                <input type="date" id="date_start" name="date_start" class="form-control">
            </div>
            <div class="form-group">
                <label for="date_end">Date de fin</label>
                <input type="date" id="date_end" name="date_end" class="form-control">
            </div>
            <div class="form-group">
                <label for="isPublic">Évènements disponibles</label>
                <select id="isPublic" name="isPublic" class="form-control">
                    <option value="">Tous</option>
                    <option value="1">Oui</option>
                    <option value="0">Non</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Filtrer</button>
            {% if app.request.query.has('name') or app.request.query.has('date_start') or app.request.query.has('date_end') or app.request.query.has('isPublic') %}
                <button href="{{ path('app_events') }}" class="btn btn-secondary mt-2">Réinitialiser</a>
            {% endif %}
        </form>
    </div>
{% endblock %}
