{% block body %}
    {% if participants|length > 0 %}
        <h4 class="mb-4">Participants</h4>

        <table class="table mb-5">
            <thead>
                <tr>
                    <th>Prénom et nom</th>
                    <th>Email</th>
                    <th>Statut du paiement</th>
                </tr>
            </thead>
            <tbody>
                {% for participant in participants %}
                    <tr>
                        <td>{{ participant.getPrenom() }} {{ participant.getNom() }}</td>
                        <td>{{ participant.getEmail() }}</td>
                        <td>Réussi</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h5 class="mb-4">Pas de participants</h5>
    {% endif %}
{% endblock %}
